.pageContainer {
    padding: 0 50px;
}

.accounts img {
    width: 60px;
    height: 60px;
    border-radius: 20%;
}

.icon {
    width: 280px;
    height: 280px;
    border-radius: 5%;
}


.icon_and_profile {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    margin-bottom: 20px;
}

.introduction {
    margin-bottom: 30px;
}



@media (max-width: 768px) {
    .pageContainer {
        padding: 0 30px;
    }

    .icon-and-profile {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        gap: 20px;
    }
}