body {
    padding: 0 50px;
}

.accounts img {
    width: 60px;
    height: 60px;
    border-radius: 20%;
}

.icon {
    width: 280px;
    height: 280px;
    border-radius: 5%;
}


.icon-and-profile {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    margin-bottom: 20px;
}

.introduction {
    margin-bottom: 30px;
}

.accounts{
    display: flex;
    gap: 30px;
}

.yusei-magic, .yusei-magic h1, .yusei-magic p {
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zen-maru {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-style: normal;
}



@media (max-width: 768px) {
    body {
        padding: 0 30px;
    }

    .icon-and-profile {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        gap: 20px;
    }
}