header{color:darkseagreen;text-align:center;font-size: 50pt;font-family:sans-serif;font-weight: bold;background-color: beige;padding:2rem 0}
main{padding:1rem 0;background-color:darkseagreen;}
h1{color:darkslategray;font-size:25px;font-weight: bold;border:2px;text-decoration: underline;}
h2{color:darkslategray;font-size:25px;font-weight:normal;}
p{color:black;font-size:18px;font-family:sans-serif;font-weight: normal;}
#container {
	display: grid;
	grid-template-rows: 300px 10px 100px 50px;
	grid-template-columns: 10px 400px 10px 400px 10px 400px;

#profile {
    font-weight: bold;
    grid-row: 1 / 5;
	grid-column: 2 / 3; 
    padding: 1rem;
    background-color: white; /* プロフィール背景色を白に */
    border-radius: 10px; /* 角を丸くする */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影をつけて立体感を出す */
    margin-bottom: 2rem; /* 下に余白 */

}
#introduction {
    background-color: white;
	grid-row: 1 / 2;
	grid-column: 4/ 7;
    padding:12px
}
#links {
    grid-row: 3 / 5;
    grid-column: 6 / 7;
    margin-bottom:2rem;
    display: block; /* リンク全体をクリックできるようにブロック要素にする */
    background-color:white; /* リンクの背景色を白に */
    color:darkseagreen; /* リンクの文字色を青に */
    text-decoration:none; /* リンクの下線をなくす */
    padding: 0.1px 12px; /* 内側の余白 */
    border-radius: 5px; /* 角を少し丸く */
    font-weight: bold;
}
#goal {
    background-color: white;
    grid-row: 3 / 5;
    grid-column: 4 / 5;
    margin-bottom: 2rem;
    border-radius: 5px;
    padding:0 12px
}       